body {
    width: 30%;
    margin: 0 auto;
}
h2 {
	text-align: center;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
	text-align: center;
    float: left;
    width: 33.33%;
    height: 2em;
}